<?xml version="1.0"?>
<launch>
  <arg name="exercise" default="0"/>
  <node if="$(eval arg('exercise')==0)" name="tutorial_node" pkg="state_machine_tutorial" type="BasicStateMachine_0.py" respawn="false" output="screen"/>
  <node if="$(eval arg('exercise')==1)" name="tutorial_node" pkg="state_machine_tutorial" type="BasicStateMachine_1.py" respawn="false" output="screen"/>
  <node if="$(eval arg('exercise')==2)" name="tutorial_node" pkg="state_machine_tutorial" type="BasicStateMachine_2.py" respawn="false" output="screen"/>


</launch>
